/* class = .name, ID = #name, element = element*/
#header {
    background-color: white
}

img {
    width: 100%;
}
div.hotpink{
    color: hotpink}


.dropdown {
    display: none;
}

    #navigation {
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 83, 109)
    position, sticky;
    width:100vw;

}

    #navigation > ul {
    margin: 0;   
    list-style: none;
}

#navigation ul > li {
    display: inline;
}

#navigation a:hover + ul,
#navigation a + ul:hover {
    display:block;
    position:absolute;
}


    #header {
    padding: 10px;
    background-color: rgb(87, 19, 66);
    }

    #content p+ul{
    background-color: rgb(75, 9, 42)
}
#content {
    margin: 10px;
    padding: 10px; 
    background-color: aquamarine;
}

#footer{ padding: 10px;
background-color: lightgreen
}

#codeperson{
    color: red
}

.container{
    margin: 0 auto;
widows: 100%;
}
 #content p + ul {
     background-color: hotpink;
 }
 #content li {
     background-color: chartreuse;
 }
 #content li:first-child {
     background-color: rgb(27, 114, 114);
     }

@media (min-width:612px){
    body {
        grid-template-areas:
        "navigation header"
        "navigation content"
        "navigation footer"
    } 
}
